main ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
  }
  
  main li {
    background: hotpink;
    border: 1px solid white;
    width: 8em;
    height: 4em;
  }
  
  main li:nth-of-type(odd) {
    background: red;
  }